<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>sonatype-nexus-staging</id>
            <username>your-sonatype-jira-username</username>
            <password>your-sonatype-jira-password</password>
        </server>
        <!-- Add other server configurations as needed -->
    </servers>
    
    <profiles>
        <profile>
            <id>gpg</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>bro2001</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
